COMPOSE_PROJECT_NAME=firstproject
POSTGRES_USER=fastapi_user
POSTGRES_PASSWORD=fastapi_password
POSTGRES_DB=PruebaDB
DATABASE_URL=postgresql://fastapi_user:fastapi_password@db:5432/PruebaDB
APP_ENV=development
APP_TITLE=Enterprise Hotel API
DEBUG=true
ENABLE_DOCS=true
# Reemplaza "db" con el nombre del servicio de tu base de datos en Docker Compose si es diferente
